[Unit]
Description=download giantbomb videos

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7
TimeoutStartSec=infinity
ExecStart=./target/release/bombinger
